* {
  margin: 0;
  padding: 0;
}
:root {
  --main-bg-color: rgb(38, 41, 222);
}
header {
  background-color: var(--main-bg-color);
  color: white;
  border: solid 2px red;
}
nav {
  display: flex;
}
.logo img {
  height: 6vh;
  /* margin: 3vh 1vw; */
  padding: 0vh 4vw;
}
.logo {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: flex-start;
  height: 11vh;
  align-items: center;
}
nav ul li {
  list-style: none;
  padding: 0vh 3vw;
}
ul li a {
  color: white;
  text-decoration: none;
}
ul li a:hover {
  font-weight: bold;
  color: rgb(32, 219, 113);
  text-decoration: undeline;
}
.search {
  display: flex;
  align-items: center;
  /* padding: 4vh 2vw; */
  margin: 4vh 0vw;
}
input {
  width: 24vw;
  height: 2vh;
  border-radius: 5px;
  margin: 0vh 1vw;
  padding: 1vh 2vw;
}
.btn {
  padding: 0vh 2vw 0vh 2vw;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  background-color: var(--main-bg-color);
  color: white;
  border: 2px solid white;
  /* font-weight: 123; */
}
.container {
  min-height: calc(100vh - 11vh - 12vh);
}
.slider {
  margin: auto;
  width: 80vw;
  padding: 2vh 0vw;
  overflow: hidden;
}
.slider img {
  height: 40vh;
  width: 80vw;
  overflow: hidden;
}
.card-item {
  width: 10vw;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  margin: 2vh 6vw;
}
.card-item img {
  height: 28vh;
  width: 8vw;
  margin: 3vh 0vw;
}
.h_1 {
  margin: 5vh 0;
}
.card {
  /* background-color: aquamarine; */
  max-width: 92vw;
  margin: auto;
}
.cards{
    display: flex;
    overflow: scroll;
}
.text_center {
  text-align: center;
}
.text_center2{
    margin: 3vh 2vw;
    background-color: rgb(69, 66, 218);
    color: white;
    height: 6vh;
    border-radius: 5px;
}
footer {
  height: 12vh;
  background-color: var(--main-bg-color);
  color: white;
}
